/* --------- MYSTERIES --------- */

.ancientMysteryFrontDiv {
    display: flex;
}

.ancientMysteryFront {
    height: 7.1vw;
    width: 11.3vw;
    margin: 0vw;
    margin-top: 1.2vw;
    background-size: cover;
    border: 0.15vw black solid;
    border-radius: 0.4vw;
    transition: all .3s ease;  
    cursor: pointer;
}

#AzathothMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_1.png);
}

#AzathothMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_2.png);
}

#AzathothMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_3.png);
}

#AzathothMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_4.png);
}

#YogSothothMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_1.png);
}

#YogSothothMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_2.png);
}

#YogSothothMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_3.png);
}

#YogSothothMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_4.png);
}

#ShubNiggurathMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_1.png);
}

#ShubNiggurathMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_2.png);
}

#ShubNiggurathMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_3.png);
}

#ShubNiggurathMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_4.png);
}

#CthulhuMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_1.png);
}

#CthulhuMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_2.png);
}

#CthulhuMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_3.png);
}

#CthulhuMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_4.png);
}

.ancientMysteryFront:hover {
    transform: scale(1.05);
}

.ancientMysteryFrontFocus {
    height: 31.5vw;
    width: 50vw;
    background-size: cover;
    border: 0.3vw black solid;
    border-radius: 1.5vw;
}

.popup-overlay:has(.ancientMysteryFrontFocus) {
    background: none;
}

.popup-content:has(.ancientMysteryFrontFocus) {
    width: 50vw;
}


/* COUNTER MYSTERIES */

.mysteryTokensDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mysteryCounter {
    display: flex;
    justify-content: center;
}

.tokenMysteryCounter {
    width: 9vw;
    height: 3.3vw;
    background-color: transparent;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 2.6vw;
    margin: 0.5vw;
    padding-top: 0.4vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
}

.tokenMysteryDone {
    width: 9vw;
    height: 3.3vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMysteryDone:hover {
    transform: scale(1.05);
}

.tokenMysteryMinus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 2vw;
    height: 2vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMysteryMinus:hover {
    transform: scale(1.15);
}

.tokenMysteryPlus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 2vw;
    height: 2vw;
    transition: all .3s ease; 
    cursor: pointer;    
}

.tokenMysteryPlus:hover {
    transform: scale(1.15);
}

.tokenMysteryEldritch {
    background-image: url(/src/pictures/Tokens/TokenEldritch.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border-radius: 50%;
    width: 2.8vw;
    height: 2.8vw;
}

.tokenMysteryClue {
    background-image: url(/src/pictures/Tokens/TokenClue.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border:none;
    width: 2.8vw;
    height: 2.8vw;
}

/* MONSTER MYSTERIES */

.mysteryTokensMonsterDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5vw;
}

.mysteryTokensMonster {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mysteryMonster {
    background-size: cover;
    background-color: transparent;
    align-self: center;
    margin-top: 0.7vw;
    margin-right: 0.5vw;
    margin-bottom: 0.1vw;
    margin-left: 0.5vw;
    border:none;
    width: 6vw;
    height: 6vw;
}

#TokenDunwichHorror {
    background-image: url(/src/pictures/Tokens/TokenDunwichHorror.png);
}

#TokenDunwichHorrorSlayed {
    background-image: url(/src/pictures/Tokens/TokenDunwichHorrorSlayed.png);
}

#TokenNug {
    background-image: url(/src/pictures/Tokens/TokenNug.png);
}

#TokenNugSlayed {
    background-image: url(/src/pictures/Tokens/TokenNugSlayed.png);
}

#TokenCthylla {
    background-image: url(/src/pictures/Tokens/TokenCthylla.png);
}

#TokenCthyllaSlayed {
    background-image: url(/src/pictures/Tokens/TokenCthyllaSlayed.png);
}

#TokenCthulhu {
    background-image: url(/src/pictures/Tokens/TokenCthulhu.png);
}

#TokenCthulhuSlayed {
    background-image: url(/src/pictures/Tokens/TokenCthulhuSlayed.png);
}

.tokenMysteryKilling {
    width: 3.5vw;
    height: 3.5vw;
    background-image: url(/src/pictures/Tokens/TokenKilling.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    justify-self: center;
    border: none;
    transition: all .3s ease; 
}

.mysteryMonsterAddons {
    background-color: rgba(238, 238, 215, 0.716);
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    border: 0.15vw solid black;
    border-radius: 1vw;
    height: 1.2vw;
    width: 7vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.mysteryMonsterTokenMinus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.mysteryMonsterTokenHealth {
    background-image: url(/src/pictures/Tokens/TokenHealthSmall.png);
    background-color: transparent;
    background-size: cover;
    /* margin-left: 0.3vw; */
    width: 1.15vw;
    height: 1.1vw;
    border: none;
}

.mysteryMonsterCounter {
    background-color: transparent;
    width: 1.6vw;
    height: 1vw;
    border: none;
    margin-right: 1.2vw;
    padding-top: 0.1vw;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 0.98vw;
}

.mysteryMonsterTokenPlus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    justify-content: flex-end;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.tokenMysteryMonsterDone {
    width: 3.5vw;
    height: 3.5vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMysteryMonsterDone:hover {
    transform: scale(1.15);
}

/* --------- MYTHOS --------- */

.mythosFrontDiv {
    display: flex;
    flex-direction: column;
}

.mythosTokensDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mythosFront {
    height: 11.3vw;
    width: 7.2vw;
    margin: 0vw 1.2vw 0vw 1.2vw;
    justify-content: center;
    background-size: cover;
    border: 0.15vw black solid;
    border-radius: 0.4vw;
    transition: all .3s ease;
    cursor: pointer;
}

.mythosFront:hover {
    transform: scale(1.05);
}

/* .mythosFront:focus {
    transform: scale(3.8) translateY(7%);
} */


.mythosFrontFocus {
    height: 45vw;
    width: 28.5vw;
    background-size: cover;
    border: 0.3vw black solid;
    border-radius: 1.5vw;
}

.popup-overlay:has(.mythosFrontFocus) {
    background: none;
}

.popup-content:has(.mythosFrontFocus) {
    width: 28.5vw;
}


/* .mythosFrontBig {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythosFrontBig:hover {
    transform: scale(2);
} */

.tokenMythosReckoning {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenMythosReckoning.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosReckoning:hover {
    transform: scale(1.2);
}

.tokenMythosDone {
    width: 2vw;
    height: 2vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-top: 0.4vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    border: 0.15vw solid black;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosDone:hover {
    transform: scale(1.2);
}

.tokenMythosClueFaded {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenClueFaded.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosClueFaded:hover {
    transform: scale(1.2);
}

.tokenMythosGateFaded {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenGate.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosGateFaded:hover {
    transform: scale(1.2);
}

.tokenMythosMonsterSlayed {
    width: 2.2vw;
    height: 2.2vw;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    text-align: center;
    font-family: EldritchNumbers;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosMonsterSlayed:hover {
    transform: scale(1.2);
}

#tokenMythosTickTockMenSlayed {
    background-image: url(/src/pictures/Tokens/TokenTickTockMenSlayed.png);
}

#tokenMythosWindWalkerSlayed {
    background-image: url(/src/pictures/Tokens/TokenWindWalkerSlayed.png);
}

#tokenMythosSpinnerOfWebsSlayed {
    background-image: url(/src/pictures/Tokens/TokenSpinnerOfWebsSlayed.png);
}

.tokenMythosEldritchFaded {
    width: 2vw;
    height: 2vw;
    margin-left: 4.6vw;
    margin-top: 0.2vw;
    background-image: url(/src/pictures/Tokens/TokenEldritchDarkened.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    color: white;
    padding-top: 0.3vw;
    font-weight: 150;
    font-size: 1.4vw;
}

#tokenMythosEldritchFadedFocusEB1 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.3vw;
    margin-top: 10.8vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusEB2 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.3vw;
    margin-top: 9.8vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusEB4 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.3vw;
    margin-top: 10.6vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusNB3 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21vw;
    margin-top: 8vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusNB4 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.8vw;
    margin-top: 12vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusHB2 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.8vw;
    margin-top: 7vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusHB4 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.8vw;
    margin-top: 9.5vw;
    padding-top: 1vw;
    font-size: 5vw;
}

.tokenMythosMonsterToughnessFaded {
    width: 3vw;
    height: 3.3vw;
    margin-left: 4.7vw;
    background-image: url(/src/pictures/Tokens/TokenMonsterToughness.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    color: white;
    padding-bottom: 0.2vw;
    font-size: 1.4vw;
}

#tokenMythosMonsterToughnessFadedFocusNB2 {
    width: 6.8vw;
    height: 6.6vw;
    margin-left: 23.1vw;
    margin-top: 0.1vw;
    padding-bottom: 1vw;
    font-size: 2.9vw;
}

.tokenMythosHealthFaded {
    width: 4vw;
    height: 3vw;
    margin-left: 4.2vw;
    background-image: url(/src/pictures/Tokens/TokenHealthDarkened.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    color: white;
    padding-top: 0.3vw;
    font-size: 1.4vw;
}

#tokenMythosHealthFadedFocusHB1 {
    width: 9vw;
    height: 10vw;
    margin-left: 19vw;
    margin-top: 15vw;
    padding-top: 1vw;
    font-size: 4.8vw;
}

.outerPopupMythos {
    position: fixed;
    display: flex;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mythosPopUpMattYellow {
    display: flex;
    flex-direction: column;
    background-image: url(/src/pictures/Mythos/MythosMattYellow.png);
    background-size: cover;
    width: 52.3vw;
    height: 46vw;
    justify-content: flex-start;
    align-items: center;
}

.mythosPopUpYellowDiv {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 55vw;
    margin-top: 10vw;
    justify-content: flex-start;
    align-items: center;
}

.mythosPopUpYellowDivExpedition{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 55vw;
    margin-top: 7vw;
    justify-content: flex-start;
    align-items: center;
}

.mythosPopUpYellowButton {
    background: none;
    border-radius: 2vw;
    border: 0.25vw black solid;
    width: 40vw;
    height: 8vw;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 2.5vw;
    margin: 2vw;
    text-align: center;
    cursor: pointer;
}

.mythosPopUpTextNumberYellow {
    display: inline;
    font-family: "Romana";  
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
}

.mythosPopUpTextExpedition {
    display: inline;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
}

.mythosPopUpYellowCaseDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vw;
}

.mythosPopUpYellowExpedition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mythosPopUpExpeditions {
    display: flex;
    flex-direction: row;
}

.tokenMythosPopUpExpedition {
    display: flex;
    flex-direction: row;
    background: none;
    background-size: cover;
    border: none;
    align-items: center;
    width: 17.5vw;
    height: 13vw;
}

.tokenMythosPopUpExpeditionSmall {
    display: flex;
    flex-direction: row;
    background: none;
    background-size: cover;
    margin: -0.05vw;
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
    border: none;
    width: 7vw;
    height: 6.5vw;
}

.tokenMythosPopUpExpeditionButton {
    display: flex;
    width: 28vw;
    height: 3.5vw;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 2.2vw;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosPopUpExpeditionButton:hover {
    transform: scale(1.05);
}

#tokenMythosPopUpExpeditionAntarctica {
    background-image: url(/src/pictures/Tokens/TokenAntarctica.png);
}

#tokenMythosPopUpExpeditionAntarcticaSmall {
    background-image: url(/src/pictures/Tokens/TokenAntarcticaSmall.png);
}

#tokenMythosPopUpExpeditionAntarcticaCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenAntarcticaCrossedOut.png);
}

#tokenMythosPopUpExpeditionTheAmazon {
    background-image: url(/src/pictures/Tokens/TokenTheAmazon.png);
}

#tokenMythosPopUpExpeditionTheAmazonSmall {
    background-image: url(/src/pictures/Tokens/TokenTheAmazonSmall.png);
}

#tokenMythosPopUpExpeditionTheAmazonCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTheAmazonCrossedOut.png);
}

#tokenMythosPopUpExpeditionTheHeartofAfrica {
    background-image: url(/src/pictures/Tokens/TokenTheHeartOfAfrica.png);
}

#tokenMythosPopUpExpeditionTheHeartofAfricaSmall {
    background-image: url(/src/pictures/Tokens/TokenTheHeartOfAfricaSmall.png);
}

#tokenMythosPopUpExpeditionTheHeartofAfricaCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTheHeartOfAfricaCrossedOut.png);
}

#tokenMythosPopUpExpeditionTheHimalayas {
    background-image: url(/src/pictures/Tokens/TokenTheHimalayas.png);
}

#tokenMythosPopUpExpeditionTheHimalayasSmall {
    background-image: url(/src/pictures/Tokens/TokenTheHimalayasSmall.png);
}

#tokenMythosPopUpExpeditionTheHimalayasCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTheHimalayasCrossedOut.png);
}

#tokenMythosPopUpExpeditionThePyramids {
    background-image: url(/src/pictures/Tokens/TokenThePyramids.png);
}

#tokenMythosPopUpExpeditionThePyramidsSmall {
    background-image: url(/src/pictures/Tokens/TokenThePyramidsSmall.png);
}

#tokenMythosPopUpExpeditionThePyramidsCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenThePyramidsCrossedOut.png);
}

#tokenMythosPopUpExpeditionTunguska {
    background-image: url(/src/pictures/Tokens/TokenTunguska.png);
}

#tokenMythosPopUpExpeditionTunguskaSmall {
    background-image: url(/src/pictures/Tokens/TokenTunguskaSmall.png);
}

#tokenMythosPopUpExpeditionTunguskaCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTunguskaCrossedOut.png);
}

.mythosPopUpMattBlue {
    display: flex;
    flex-direction: column;
    background-image: url(/src/pictures/Mythos/MythosMattBlue.png);
    background-size: cover;
    width: 50vw;
    height: 46vw;
    justify-content: flex-start;
    align-items: center;
}

.mythosPopUpCloseButtonDiv {
    display: flex;
    width: 43vw;
    height: 4.5vw;
    justify-content: flex-end;
    align-items: flex-end;
}

.mythosPopUpCloseButton {
    width: 1.5vw;
    height: 1.5vw;
    font-family: 'Birmingham'; 
    font-size: 1vw;
    text-align: center;
    background-color: rgb(213, 213, 160);
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.mythosPopUpTextDiv {
    display: flex;
    width: 40vw;
    height: 7vw;
    margin-top: 2vw;
    justify-content: center;
}

.mythosPopUpTextDivExpedition{
    display: flex;
    width: 40vw;
    height: 5vw;
    margin-top: 2vw;
    justify-content: center;
}

#mythosPopUpTextDivOneliner {
    height: 3vw;
}

#mythosPopUpTextDivNB1 {
    display: flex;
    align-items: flex-end;
    height: 7vw;
}

#mythosPopUpTextDivNB4 {
    height: 12vw;
}

#mythosPopUpTextDivHB1{
    height: 6vw;
}

.mythosPopUpTextCaseDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 9vw;
}

.mythosPopUpText {
    display: inline;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 1.8vw;
    margin: 0;
    text-align: center;
}

.mythosPopUpTextNumber {
    display: inline;
    font-family: "Romana";  
    font-size: 1.8vw;
    margin: 0;
    text-align: center;
}

.mythosPopUpTextIcons {
    display: inline;
    font-family: EldritchIcons;  
    font-size: 2vw;
    margin: 0;
    text-align: center;
}

.mythosPopUpCounterDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 9vw;
}

.tokenMythosPopUpCounter {
    width: 9vw;
    height: 3.7vw;
    background-color: transparent;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 3vw;
    margin: 0.5vw;
    padding-top: 0.4vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
}

.tokenMythosPopUpCounterDiv {
    display: flex;
}

.tokenMythosPopUpMinus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 3vw;
    height: 3vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosPopUpMinus:hover {
    transform: scale(1.15);
}

.tokenMythosPopUpEldritch {
    background-image: url(/src/pictures/Tokens/TokenEldritch.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
}

.tokenMythosPopUpMonsterSurge {
    background-image: url(/src/pictures/Tokens/TokenMonsterSurge.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.5vw;
    height: 3.5vw;
}

.tokenMythosPopUpMonsterToughness {
    background-image: url(/src/pictures/Tokens/TokenMonsterToughness.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.3vw;
    height: 4.2vw;
}

.tokenMythosPopUpPlus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 3vw;
    height: 3vw;
    transition: all .3s ease; 
    cursor: pointer;    
}

.tokenMythosPopUpPlus:hover {
    transform: scale(1.15);
}

.mythosPopUpDoneDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.mythosPopUpDoneCaseDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mythosPopUpCounterCaseDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tokenMythosPopUpSanity {
    background-image: url(/src/pictures/Tokens/TokenSanity.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.4vw;
    height: 3vw;
}

.tokenMythosPopUpHealth {
    background-image: url(/src/pictures/Tokens/TokenHealth.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.4vw;
    height: 3.2vw;
}

#tokenMythosPopUpHealthHB1 {
    width: 5vw;
    height: 5vw;
}

.tokenMythosPopUpDelayedInvestigator {
    background-image: url(/src/pictures/Tokens/TokenDelayedInvestigator.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: -1.8vw;
    width: 6vw;
    height: 3.5vw;
}

.tokenMythosPopUpDoom {
    background-image: url(/src/pictures/Tokens/TokenDoom.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.4vw;
    height: 3.4vw;
}

.tokenMythosPopUpGate {
    background-image: url(/src/pictures/Tokens/TokenGate.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 4vw;
    height: 4vw;
}

.tokenMythosPopUpArrow {
    background-image: url(/src/pictures/Tokens/TokenArrowRight.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 4vw;
    height: 3.3vw;
}

.tokenMythosPopUpClueCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenClueCrossedOut.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    margin-bottom: 0;
    border: none;
    width: 3.4vw;
    height: 3.4vw;
}

.tokenMythosPopUpNumbersFont{
    font-family: EldritchNumbers;
    font-size: 3.4vw;
    font-weight: 300;
    margin-top: 0.5vw;
    margin-bottom: 0;
}

.tokenMythosPopUpDone {
    display: flex;
    width: 4vw;
    height: 3.3vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    justify-content: center;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosPopUpDone:hover {
    transform: scale(1.05);
}

.tokenMythosPopUpDefeat {
    display: flex;
    width: 15vw;
    height: 3.5vw;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Birmingham;
    font-size: 2.2vw;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosPopUpDefeat:hover {
    transform: scale(1.05);
}

#MythosEG1 {
    background-image: url(/src/pictures/Mythos/Mythos_EG1.png);
}

#MythosEG2 {
    background-image: url(/src/pictures/Mythos/Mythos_EG2.png);
}

#MythosEG3 {
    background-image: url(/src/pictures/Mythos/Mythos_EG3.png);
}

#MythosEG4 {
    background-image: url(/src/pictures/Mythos/Mythos_EG4.png);
}

#MythosEG5 {
    background-image: url(/src/pictures/Mythos/Mythos_EG5.png);
}

#MythosNG1 {
    background-image: url(/src/pictures/Mythos/Mythos_NG1.png);
}

#MythosNG2 {
    background-image: url(/src/pictures/Mythos/Mythos_NG2.png);
}

#MythosNG3 {
    background-image: url(/src/pictures/Mythos/Mythos_NG3.png);
}

#MythosNG4 {
    background-image: url(/src/pictures/Mythos/Mythos_NG4.png);
}

#MythosNG5 {
    background-image: url(/src/pictures/Mythos/Mythos_NG5.png);
}

#MythosNG6 {
    background-image: url(/src/pictures/Mythos/Mythos_NG6.png);
}

#MythosNG7 {
    background-image: url(/src/pictures/Mythos/Mythos_NG7.png);
}

#MythosNG8 {
    background-image: url(/src/pictures/Mythos/Mythos_NG8.png);
}

#MythosHG1 {
    background-image: url(/src/pictures/Mythos/Mythos_HG1.png);
}

#MythosHG2 {
    background-image: url(/src/pictures/Mythos/Mythos_HG2.png);
}

#MythosHG3 {
    background-image: url(/src/pictures/Mythos/Mythos_HG3.png);
}

#MythosHG4 {
    background-image: url(/src/pictures/Mythos/Mythos_HG4.png);
}

#MythosHG5 {
    background-image: url(/src/pictures/Mythos/Mythos_HG5.png);
}

#MythosEY1 {
    background-image: url(/src/pictures/Mythos/Mythos_EY1.png);
}

#MythosEY2 {
    background-image: url(/src/pictures/Mythos/Mythos_EY2.png);
}

#MythosEY3 {
    background-image: url(/src/pictures/Mythos/Mythos_EY3.png);
}

#MythosEY4 {
    background-image: url(/src/pictures/Mythos/Mythos_EY4.png);
}

#MythosEY5 {
    background-image: url(/src/pictures/Mythos/Mythos_EY5.png);
}

#MythosNY1 {
    background-image: url(/src/pictures/Mythos/Mythos_NY1.png);
}

#MythosNY2 {
    background-image: url(/src/pictures/Mythos/Mythos_NY2.png);
}

#MythosNY3 {
    background-image: url(/src/pictures/Mythos/Mythos_NY3.png);
}

#MythosNY4 {
    background-image: url(/src/pictures/Mythos/Mythos_NY4.png);
}

#MythosNY5 {
    background-image: url(/src/pictures/Mythos/Mythos_NY5.png);
}

#MythosNY6 {
    background-image: url(/src/pictures/Mythos/Mythos_NY6.png);
}

#MythosNY7 {
    background-image: url(/src/pictures/Mythos/Mythos_NY7.png);
}

#MythosNY8 {
    background-image: url(/src/pictures/Mythos/Mythos_NY8.png);
}

#MythosNY9 {
    background-image: url(/src/pictures/Mythos/Mythos_NY9.png);
}

#MythosNY10 {
    background-image: url(/src/pictures/Mythos/Mythos_NY10.png);
}

#MythosNY11 {
    background-image: url(/src/pictures/Mythos/Mythos_NY11.png);
}

#MythosHY1 {
    background-image: url(/src/pictures/Mythos/Mythos_HY1.png);
}

#MythosHY2 {
    background-image: url(/src/pictures/Mythos/Mythos_HY2.png);
}

#MythosHY3 {
    background-image: url(/src/pictures/Mythos/Mythos_HY3.png);
}

#MythosHY4 {
    background-image: url(/src/pictures/Mythos/Mythos_HY4.png);
}

#MythosHY5 {
    background-image: url(/src/pictures/Mythos/Mythos_HY5.png);
}

#MythosEB1 {
    background-image: url(/src/pictures/Mythos/Mythos_EB1.png);
}

#MythosEB2 {
    background-image: url(/src/pictures/Mythos/Mythos_EB2.png);
}

#MythosEB3 {
    background-image: url(/src/pictures/Mythos/Mythos_EB3.png);
}

#MythosEB4 {
    background-image: url(/src/pictures/Mythos/Mythos_EB4.png);
}

#MythosNB1 {
    background-image: url(/src/pictures/Mythos/Mythos_NB1.png);
}

#MythosNB2 {
    background-image: url(/src/pictures/Mythos/Mythos_NB2.png);
}

#MythosNB3 {
    background-image: url(/src/pictures/Mythos/Mythos_NB3.png);
}

#MythosNB4 {
    background-image: url(/src/pictures/Mythos/Mythos_NB4.png);
}

#MythosHB1 {
    background-image: url(/src/pictures/Mythos/Mythos_HB1.png);
}

#MythosHB2 {
    background-image: url(/src/pictures/Mythos/Mythos_HB2.png);
}

#MythosHB3 {
    background-image: url(/src/pictures/Mythos/Mythos_HB3.png);
}

#MythosHB4 {
    background-image: url(/src/pictures/Mythos/Mythos_HB4.png);
}