/* --------- MYSTERIES --------- */

.cthulhuMysteryFrontDiv {
    display: flex;
}

.cthulhuMysteryFront {
    height: 7.4vw;
    width: 11.5vw;
    margin-top: 1.2vw;
    background-size: cover;
    border-radius: 0.4vw;
    transition: all .3s ease;  
    cursor: pointer;
    z-index: 1;
}

#CthulhuMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_1.png);
}

#CthulhuMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_2.png);
}

#CthulhuMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_3.png);
}

#CthulhuMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_4.png);
}

.cthulhuMysteryFront:hover {
    transform: scale(1.05);
}

.cthulhuMysteryFront:focus {
    transform: scale(4) translateY(50%);
    z-index: 1;
}

/* COUNTER MYSTERIES */

.mysteryTokensDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mysteryCounter {
    display: flex;
    justify-content: center;
}

.tokenMysteryCounter {
    width: 9vw;
    height: 3.3vw;
    background-color: transparent;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 2.6vw;
    margin: 0.5vw;
    padding-top: 0.4vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
}

.tokenMysteryDone {
    width: 9vw;
    height: 3.3vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMysteryDone:hover {
    transform: scale(1.05);
}

.tokenMysteryMinus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 2vw;
    height: 2vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMysteryMinus:hover {
    transform: scale(1.15);
}

.tokenMysteryPlus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 2vw;
    height: 2vw;
    transition: all .3s ease; 
    cursor: pointer;    
}

.tokenMysteryPlus:hover {
    transform: scale(1.15);
}

.tokenMysteryEldritch {
    background-image: url(/src/pictures/Tokens/TokenEldritch.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border-radius: 50%;
    width: 2.8vw;
    height: 2.8vw;
}

.tokenMysteryClue {
    background-image: url(/src/pictures/Tokens/TokenClue.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border:none;
    width: 2.8vw;
    height: 2.8vw;
}

/* MONSTER MYSTERIES */

.mysteryTokensMonsterDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5vw;
}

.mysteryTokensMonster {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mysteryMonster {
    background-size: cover;
    background-color: transparent;
    align-self: center;
    margin-top: 0.7vw;
    margin-right: 0.5vw;
    margin-bottom: 0.1vw;
    margin-left: 0.5vw;
    border:none;
    width: 6vw;
    height: 6vw;
}

#TokenCthylla {
    background-image: url(/src/pictures/Tokens/TokenCthylla.png);
}

#TokenCthyllaSlayed {
    background-image: url(/src/pictures/Tokens/TokenCthyllaSlayed.png);
}

#TokenCthulhu {
    background-image: url(/src/pictures/Tokens/TokenCthulhu.png);
}

#TokenCthulhuSlayed {
    background-image: url(/src/pictures/Tokens/TokenCthulhuSlayed.png);
}

.tokenMysteryKilling {
    width: 3.5vw;
    height: 3.5vw;
    background-image: url(/src/pictures/Tokens/TokenKilling.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    justify-self: center;
    border: none;
    transition: all .3s ease; 
}

.mysteryMonsterAddons {
    background-color: rgba(238, 238, 215, 0.716);
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    border: 0.15vw solid black;
    border-radius: 1vw;
    height: 1.2vw;
    width: 7vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.mysteryMonsterTokenMinus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.mysteryMonsterTokenHealth {
    background-image: url(/src/pictures/Tokens/TokenHealth.png);
    background-color: transparent;
    background-size: cover;
    /* margin-left: 0.3vw; */
    width: 1.15vw;
    height: 1.1vw;
    border: none;
}

.mysteryMonsterCounter {
    background-color: transparent;
    width: 1.6vw;
    height: 1vw;
    border: none;
    margin-right: 1.2vw;
    padding-top: 0.1vw;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 0.98vw;
}

.mysteryMonsterTokenPlus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    justify-content: flex-end;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.tokenMysteryMonsterDone {
    width: 3.5vw;
    height: 3.5vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMysteryMonsterDone:hover {
    transform: scale(1.15);
}

/* --------- MYTHOS --------- */

.mythosFrontDiv {
    display: flex;
    flex-direction: column;
}

.mythosTokensDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mythosFront {
    height: 11.5vw;
    width: 7.4vw;
    margin: 0vw 1.2vw 0vw 1.2vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.4vw;
    transition: all .3s ease;
    cursor: pointer;
}

.mythosFront:hover {
    transform: scale(1.05) 
}

.mythosFront:focus {
    transform: scale(3.8) translateY(7%);
    z-index: 1;
}

.mythosFrontBig {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythosFrontBig:hover {
    transform: scale(2);
}

.tokenMythosReckoning {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenMythosReckoning.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosReckoning:hover {
    transform: scale(1.2);
}

.tokenMythosDone {
    width: 2vw;
    height: 2vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-top: 0.4vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    border: 0.15vw solid black;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosDone:hover {
    transform: scale(1.2);
}

.tokenMythosClue {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenClueFaded.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.tokenMythosClue:hover {
    transform: scale(1.2);
}

.mythosEldritchDiv{
    display: flex;
    z-index: 10;
}

.mythosAddons{
    align-self: center;
    background-color: rgba(238, 238, 215, 0.716);
    margin: 0.1vw;
    display: flex;
    justify-items: center;
    border: 0.15vw solid black;
    border-radius: 1vw;
    height: 0.8vw;
    width: 2.5vw;
    position: relative;
    bottom: 2.1vw;
    left: 1.9vw;
}

.mythosTokenMinus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    align-self: center;
    background-color: rgba(238, 238, 215, 0.716);
    background-size: cover;
    align-self: center;
    border-radius: 50%;
    border: 0.1vw;
    margin-right: 0.5vw;
    width: 0.8vw;
    height: 0.8vw;
    position: relative;
    bottom: 1vw;
    right: 1.7vw;
    cursor: pointer;
}

.mythosEldritch {
    background-image: url(/src/pictures/Tokens/TokenEldritch.png);
    background-color: transparent;
    background-size: cover;
    margin-left: 0.4vw;
    width: 0.73vw;
    height: 0.7vw;
    margin-top: 0.05vw;
    border: none;
    align-items: center;
}

.mythosCounter {
    background-color: transparent;
    width: 0.8vw;
    height: 0.8vw;
    border: none;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    margin-top: 0.05vw;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 0.75vw;
}

.mythosTokenPlus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    align-self: center;
    background-color: rgba(238, 238, 215, 0.716);
    background-size: cover;
    align-self: center;
    border-radius: 50%;
    border: 0.1vw;
    margin-right: 0.5vw;
    width: 0.8vw;
    height: 0.8vw;
    position: relative;
    bottom: 3.1vw;
    left: 2.3vw;
    cursor: pointer;
}

#MythosNG1 {
    background-image: url(/src/pictures/Mythos/Mythos_NG1.png);
}

#MythosNG2 {
    background-image: url(/src/pictures/Mythos/Mythos_NG2.png);
}

#MythosNG3 {
    background-image: url(/src/pictures/Mythos/Mythos_NG3.png);
}

#MythosNG4 {
    background-image: url(/src/pictures/Mythos/Mythos_NG4.png);
}

#MythosNG5 {
    background-image: url(/src/pictures/Mythos/Mythos_NG5.png);
}

#MythosNG6 {
    background-image: url(/src/pictures/Mythos/Mythos_NG6.png);
}

#MythosNG7 {
    background-image: url(/src/pictures/Mythos/Mythos_NG7.png);
}

#MythosNG8 {
    background-image: url(/src/pictures/Mythos/Mythos_NG8.png);
}

#MythosHG1 {
    background-image: url(/src/pictures/Mythos/Mythos_HG1.png);
}

#MythosEB1 {
    background-image: url(/src/pictures/Mythos/Mythos_EB1.png);
}