/* FONTS  */

@font-face {
    font-family: Birmingham;
    src: url(../Eldritch-font/Birmingham.otf);
}

@font-face {
    font-family: Birmingham_Bold;
    src: url(../Eldritch-font/BirminghamBold.otf);
}

@font-face {
    font-family: Birmingham_Elongated;
    src: url(../Eldritch-font/BirminghamElongated.ttf);
}

@font-face {
    font-family: Birmingham_Squat;
    src: url(../Eldritch-font/BirminghamSquat.ttf);
}

@font-face {
    font-family: Birmingham_Titling;
    src: url(../Eldritch-font/BirminghamTitling.ttf);
}

@font-face {
    font-family: Birmingham_Titling_Bold;
    src: url(../Eldritch-font/BirminghamTitlingBold.ttf);
}

@font-face {
    font-family: Birmingham_Titling_Elongated;
    src: url(../Eldritch-font/BirminghamTitlingElongated.ttf);
}

@font-face {
    font-family: EldritchNumbers;
    src: url(../Eldritch-font/EldritchNumbers.otf);
}

@font-face {
    font-family: EldritchIcons;
    src: url(../Eldritch-font/EldritchHorrorIcons_v2_1.ttf);
}

/* KEYS  */

@keyframes fadeInAnimation {
    100% { opacity: 1; }
}
  
@keyframes pulse{
    0% {
        opacity: 0;
    }
    10% {
        opacity:.50;
        transform-origin: 50% 50%;
        transform: scale(5);
        transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}

@keyframes frontTurnTable{
    0%  {
        transform: rotateX(-90deg);   
    }

    100% { 
        opacity: 1;
        transform: rotateX(0deg);    
    }
}

/* MAIN */

.home {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.azathoth {
    background-image: url(/src/pictures/Main/Ancient_Azathoth.jpg);
    background-size: cover;
}

.yohSothoth {
    background-image: url(/src/pictures/Main/Ancient_Yog-Sothoth.jpg);
    background-size: cover;
}

.shubNiggurath {
    background-image: url(/src/pictures/Main/Ancient_Shub-Niggurath.jpg);
    background-size: cover;
}

.cthulhuLvlChar {
    background-image: url(/src/pictures/Main/Ancient_Cthulhu.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cthulhu {
    background-image: url(/src/pictures/Main/Ancient_Cthulhu.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.topDiv {
    position: fixed;
    height: 50vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
}

.boardDiv {
    position: relative; 
    width: 78.4vw;
    margin-left: 10.8vw;
    margin-right: 10.8vw;
    margin-top: 5.4vw;
}

.flexDiv {
    display: flex;
    height: 50vh;
    width: 100vw;
    align-items: flex-end;
}

.bottomDiv {
    position: fixed;
    height: 50vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.lvlBackDiv {
    display: flex;
    justify-content: center;
}

.lvlDiv {
    display:flex;
    margin-left: 28vw;
    margin-right: 28vw;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-end;
}

.charDiv {
    display:flex;
    margin-left:28vw;
    margin-right: 28vw;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
}

.victoryDiv {
    height: 100vh;
    width: 100vw;
    background-image: url(/src/pictures/Main/Eldritch_Horror_Cover.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.defeatDiv {
    height: 100vh;
    width: 100vw;
    background-image: url(/src/pictures/Main/Defeat_Cover.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.defeatPopup {
    position: fixed;
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.defeatChoiceButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* PICTURES  */

.main_eldritch_logo {
    height: 18vw;
    margin: 1vw;
    justify-content: center;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lvl_char_icon {
    height: 3vw;
    margin-bottom: 0.3vw;
    width: 3.3vw;
    align-self: center;
}

/* TEXT  */

.mainTitle {
    margin: 1vw;
    font-family: 'Birmingham_Titling_Bold';
    font-size: 3.3vw;
    color: white;
    justify-content: center;
         /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 7s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lvlCharText {
    font-family: 'Birmingham_Titling_Bold';
    font-size: 2vw;
    margin-bottom: 0.1vw;
}

.victoryText {
    font-family: 'Birmingham_Bold';
    font-size: 7vw;
    color: white;
    justify-content: center;
         /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 7s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.defeatText {
    font-family: 'Birmingham_Bold';
    font-size: 7vw;
    color: white;
    justify-content: center;
    margin-top: 10vw;
         /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 7s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.defeatPopupText {
    font-family: 'Birmingham';
    font-size: 5vw;
    color: white;
    justify-content: center;
}

/* BUTTONS  */

.ancientsButton {
    width: 100vw;
    justify-content: center;
}

.mainButton {
    height: 15vw;
    width: 15vw;
    margin: 1vw 2vw;
    justify-content: center;
    font-family: 'Birmingham';
    font-size: 1.5vw;
    color: white;
    padding-top: 11vw;
    background-position: center;
    transition: all .3s ease;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.mainButton:hover {
    transform: scale(1.2);
}

#ButtonAzathoth {
    background-image: url(/src/pictures/Main/Ancient_Azathoth.jpg);
    background-size: 18vw;
    animation-delay: 6s;
}

#ButtonYog {
    background-image: url(/src/pictures/Main/Ancient_Yog-Sothoth.jpg);
    background-size: 19vw;
    animation-delay: 6.5s;

}

#ButtonShub {
    background-image: url(/src/pictures/Main/Ancient_Shub-Niggurath.jpg);
    background-size: cover;
    animation-delay: 7s;
}

#ButtonCthulhu {
    background-image: url(/src/pictures/Main/Ancient_Cthulhu.jpg);
    background-size: cover;
    background-position: left;
    animation-delay: 7.5s;
}

.backLvlCharButton {
    background-image: url(/src/pictures/Tokens/TokenArrow.png);
    background-color: transparent;
    background-size: 2.5vw;
    background-repeat: no-repeat;
    background-position: 0.5vw ;
    margin-top: -2vw;
    margin-right: 21vw;
    margin-left: -25vw;
    height: 3vw;
    width: 4vw;
    border-radius: 1vw;
    border-color: black;
    cursor: pointer;
}

.lvlButton {
    font-family: 'Birmingham'; 
    font-size: 2vw;
    height: 3vw;
    width: 20vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: black;
    cursor: pointer;
}

.lvlButtonActive {
    font-family: 'Birmingham'; 
    font-size: 2vw;
    height: 3vw;
    width: 20vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: white;
}

.charButton {
    font-family: EldritchNumbers; 
    font-size: 2.3vw;
    padding-top: 0.4vw;
    height: 3vw;
    width: 7vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: black;
    cursor: pointer;
}

.charButtonActive {
    font-family: EldritchNumbers; 
    font-size: 2.3vw;
    padding-top: 0.4vw;
    height: 3vw;
    width: 7vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: white;
}

.startButton {
    font-family: 'Birmingham_Titling_Bold';
    font-size: 2.7vw;
    height: 5vw;
    width: 35vw;
    margin: 2vw;
    margin-top: 3vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: black;
    align-self: center;
    cursor: pointer;
}

.backBoardButton {
    background-image: url(/src/pictures/Tokens/TokenBackWhite.png);
    background-color: transparent;
    background-size: cover;
    align-self: flex-end;
    margin-left: -5.3vw;
    margin-right: 2.3vw;
    margin-bottom: 3.8vw;
    border-radius: 50%;
    border: 0.2vw solid rgb(44, 33, 140);
    width: 3vw;
    height: 3vw;
    transition: all .3s ease; 
    cursor: pointer;  
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.backBoardButton:hover {
    transform: scale(1.1);
}

.surrenderButton {
    background-image: url(/src/pictures/Tokens/TokenSurrender.png);
    background-color: transparent;
    background-size: cover;
    align-self: flex-end;
    margin-left: 3.5vw;
    margin-bottom: 3.8vw;
    border-radius: 50%;
    border: 0.2vw solid rgb(44, 33, 140);
    width: 3vw;
    height: 3vw;
    transition: all .3s ease; 
    cursor: pointer;  
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.surrenderButton:hover {
    transform: scale(1.1);
}

.victoryButton {
    font-family: 'Birmingham_Titling_Bold';
    font-size: 2.7vw;
    color: white;
    height: 5vw;
    width: 35vw;
    margin: 2vw;
    margin-top: 3vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: white;
    align-self: center;
    cursor: pointer;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 7s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.defeatButton {
    font-family: 'Birmingham_Titling_Bold';
    font-size: 2.7vw;
    color: white;
    height: 10vw;
    width: 20vw;
    margin: 2vw;
    margin-top: 10vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: white;
    align-self: center;
    cursor: pointer;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 7s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.defeatChoiceButton {
    width: 7vw;
    height: 7vw;
    font-family: 'Birmingham'; 
    font-size: 3vw;
    text-align: center;
    background-color: rgb(213, 213, 160);
    border: 1px solid #000000;
    border-radius: 30%;
    margin: 1.4vw;
    cursor: pointer;
}