/* FONTS  */

@font-face {
    font-family: Birmingham;
    src: url(../Eldritch-font/Birmingham.ttf);
}

@font-face {
    font-family: Birmingham_Bold;
    src: url(../Eldritch-font/BirminghamBold.ttf);
}

@font-face {
    font-family: Birmingham_Elongated;
    src: url(../Eldritch-font/BirminghamElongated.ttf);
}

@font-face {
    font-family: Birmingham_Squat;
    src: url(../Eldritch-font/BirminghamSquat.ttf);
}

@font-face {
    font-family: Birmingham_Titling;
    src: url(../Eldritch-font/BirminghamTitling.ttf);
}

@font-face {
    font-family: Birmingham_Titling_Bold;
    src: url(../Eldritch-font/BirminghamTitlingBold.ttf);
}

@font-face {
    font-family: Birmingham_Titling_Elongated;
    src: url(../Eldritch-font/BirminghamTitlingElongated.ttf);
}

/* KEYS  */

@keyframes fadeInAnimation {
    100% {
        opacity: 1;
    }
}

/* MAIN */

.Home {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Azathoth {
    background-image: url(/src/pictures/Ancient_Azathoth.jpg);
    background-size: cover;
}

.YohSothoth {
    background-image: url(/src/pictures/Ancient_Yog-Sothoth.jpg);
    background-size: cover;
}

.ShubNiggurath {
    background-image: url(/src/pictures/Ancient_Shub-Niggurath.jpg);
    background-size: cover;
}

.Cthulhu {
    background-image: url(/src/pictures/Ancient_Cthulhu.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.TopDiv {
    position: fixed;
    height: 50vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.BoardDiv {
    position: relative; 
    width: 78.4vw;
    margin-left: 10.8vw;
    margin-right: 10.8vw;
    margin-top: 5.2vw;
}

.FlexDiv {
    display: flex;
    height: 50vh;
    width: 100vw;
    align-items: flex-end;
}

.BottomDiv {
    position: fixed;
    height: 50vh;
    width: 100vw;
    bottom: 0;
    left: 0;
}

/* PICTURES  */

.mainEldritchLogo {
    height: 18vw;
    margin: 1vw;
    justify-content: center;
    opacity: 0;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* TEXT  */

.mainTitle {
    margin: 1vw;
    font-family: 'Birmingham_Titling_Bold';
    font-size: 3.3vw;
    color: white;
    justify-content: center;
    opacity: 0;
    animation: fadeInAnimation ease 7s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* BUTTONS  */

.ancientsButton {
width: 100vw;
justify-content: center;
}

.mainButton {
    height: 15vw;
    width: 15vw;
    margin: 1vw 2vw;
    justify-content: center;
    font-family: 'Birmingham';
    font-size: 1.5vw;
    color: white;
    padding-top: 11vw;
    background-position: center;
    transition: all .3s ease;
}

.mainButton:hover {
    transform: scale(1.2);
}

#buttonAzathoth {
    background-image: url(/src/pictures/Ancient_Azathoth.jpg);
    background-size: 18vw;
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#buttonYog {
    background-image: url(/src/pictures/Ancient_Yog-Sothoth.jpg);
    background-size: 19vw;
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 6.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#buttonShub {
    background-image: url(/src/pictures/Ancient_Shub-Niggurath.jpg);
    background-size: cover;
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#buttonCthulhu {
    background-image: url(/src/pictures/Ancient_Cthulhu.jpg);
    background-size: cover;
    background-position: left;
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 7.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
