/* MAIN  */

/* BUTTONS  */

.CthulhuSheet {
    background-image: url(/src/pictures/Ancient_Cthulhu_sheet_front.png);
    background-size: cover;
    height: 21vw;
    width: 17.2vw;
    margin: 1.2vw;
    transition: all .3s ease;
}

.CthulhuSheet:hover {
    transform: scale(1.03);
}

.CthulhuMystery {
    background-image: url(/src/pictures/Ancient_Cthulhu_mystery.png);
    height: 7.4vw;
    width: 11.5vw;
    margin: 1.2vw;
    position: absolute;
    background-size: cover;
    transition: all .3s ease;
}

.CthulhuMystery:hover {
    transform: scale(1.1);
}

.Mythos {
    background-image: url(/src/pictures/Mythos_Card.png);
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.Mythos:hover {
    transform: scale(1.1);
}