/* --------- LEVEL AND CHARACTER MATT --------- */

.lvlCharMatt {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lvl_char_matt {
    width: 58vw;
    overflow: hidden;
    align-self: center;
}

/* --------- MAIN BOARD --------- */

.eldritchBoard {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.eldritch_board {
    width: 99vw;
    overflow: hidden;
    align-self: center;
    opacity: 0;
    /* FRONT TURN TABLE ANIMATION */
    animation: frontTurnTable ease 1.2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* --------- ANCCIENT BOARDS --------- */

/* MAIN  */

.ancientBoard {
    display: flex;
    flex-direction: row;
}

.ancientMysteryMythosLvlChar {
    display: flex;
    flex-direction: column;
}

.ancientMysteryLvlChar {
    display: flex;
    flex-direction: row;
}

.ancientMystery {
    display: flex;
    flex-direction: row;
    width: 49.3vw
}

.ancientMythos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* BUTTONS  */

.cthulhuSheetCard {
    display: flex;
    flex-direction: column;
}

.cthulhuSheetStamp {
    justify-content: flex-start;
    background-size: cover;
    height: 21.5vw;
    width: 17.2vw;
    margin-top: 1.2vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    border-radius: 0.4vw;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-delay:2s;
    animation-duration: 0.7s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.cthulhuSheet {
    justify-content: flex-start;
    background-size: cover;
    height: 21.5vw;
    width: 17.2vw;
    margin-top: 1.2vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    border-radius: 0.4vw;
    transition: all .3s ease;
    z-index: 2;
    cursor: pointer;
}

.cthulhuSheet:hover {
    transform: scale(1.03);
}

.cthulhuSheet:focus {
    transform: scale(1.5);
}

#CthulhuSheetFront {
    background-image: url(/src/pictures/SheetCards/Ancient_Cthulhu_sheet_front.png);
}

#CthulhuSheetBack {
    background-image: url(/src/pictures/SheetCards/Ancient_Cthulhu_sheet_back.png);
}

.flipButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3vw;
    z-index: 1;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 2.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.flipButton {
    font-family: 'Birmingham_Titling_Bold'; 
    font-size: 0.8vw;
    width: 5vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: black;
    cursor: pointer;
}

#FlipButtonFront {
    margin-left: 1.2vw;
}

#FlipButtonBack {
    margin-right: 1.2vw;
}

.sheetCardAddons{
    background-color: rgba(238, 238, 215, 0.716);
    display: flex;
    border: 0.15vw solid black;
    border-radius: 1vw;
    height: 1.1vw;
}

.sheetCardTokenMinus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.sheetCardSanity {
    background-image: url(/src/pictures/Tokens/TokenSanity.png);
    background-color: transparent;
    background-size: cover;
    margin-left: 0.4vw;
    width: 1.3vw;
    height: 1.1vw;
    border: none;
    align-items: center;
}

.sheetCardCounter {
    background-color: transparent;
    width: 1.6vw;
    height: 1vw;
    border: none;
    text-align: center;
    font-family: BirminghamBold;
    font-size: 0.98vw;
}

.sheetCardTokenPlus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.cthulhuMysteryStamp {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery.png);
    height: 7.4vw;
    width: 11.5vw;
    margin: 1.2vw;
    background-size: cover;
    border-radius: 0.4vw;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-delay:2.5s;
    animation-duration: 0.7s;
    opacity: 0;
    animation-fill-mode:forwards;   
}

.cthulhuMystery {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery.png);
    height: 7.4vw;
    width: 11.5vw;
    margin: 1.2vw;
    background-size: cover;
    border-radius: 0.4vw;
    transition: all .3s ease;    
    cursor: pointer;
}

.cthulhuMystery:hover {
    transform: scale(1.1);
}

.cthulhuMysteryFrontPopup {
    display: flex;
    height: 19vw;
    width: 30vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.9vw;
}

.mysteryCloseButton {
    width: 1.5vw;
    height: 1.5vw;
    font-family: 'Birmingham'; 
    font-size: 1vw;
    text-align: center;
    background-color: rgb(213, 213, 160);
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-top: 0.2vw;
    margin-left: 28vw;
    cursor: pointer;
}

.mythosStamp {
    background-image: url(/src/pictures/Mythos/Mythos_Card.png);
    height: 11.5vw;
    width: 7.4vw;
    margin: 0.1vw 1.2vw 2.4vw 1.2vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.4vw;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-delay:3s;
    animation-duration: 0.7s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.mythos {
    background-image: url(/src/pictures/Mythos/Mythos_Card.png);
    height: 11.5vw;
    width: 7.4vw;
    margin: 0.1vw 1.2vw 2.9vw 1.2vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.4vw;
    transition: all .3s ease;
    cursor: pointer;
}

.mythos:hover {
    transform: scale(1.1);
}

.mythosFrontPopup{
    display: flex;
    height: 25vw;
    width: 15.9vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.9vw;
}

.mythosCloseButton {
    width: 1.5vw;
    height: 1.5vw;
    font-family: 'Birmingham'; 
    font-size: 1vw;
    text-align: center;
    background-color: rgb(213, 213, 160);
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-top: 0.2vw;
    margin-left: 14vw;
    cursor: pointer;
}


/* #Mythos1 {
    background-image: url(/src/pictures/Mythos/Mythos_Card_1.png);
}

#Mythos2 {
    background-image: url(/src/pictures/Mythos/Mythos_Card_2.png);
}

#Mythos3 {
    background-image: url(/src/pictures/Mythos/Mythos_Card_3.png);
}

#Mythos4 {
    background-image: url(/src/pictures/Mythos/Mythos_Card_4.png);
}

#Mythos5 {
    background-image: url(/src/pictures/Mythos/Mythos_Card_5.png);
} */

/* --------- LEVEL AND CHARACTERS --------- */

.lvlChar {
    display: flex;
    flex-direction: column;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lvl {
    height: 2vw;
    width: 8.25vw;
    margin-top: 1.2vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.4vw;
}

#LvlEasy {
    background-image: url(/src/pictures/LvlChar/LvlEasy.png);
}

#LvlNormal {
    background-image: url(/src/pictures/LvlChar/LvlNormal.png);
}

#LvlHard {
    background-image: url(/src/pictures/LvlChar/LvlHard.png);
}

.char {
    height: 5.4vw;
    width: 8.25vw;
    background-size: cover;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 0.4vw;
    transition: all .3s ease;
    cursor: pointer;
}

.char:hover {
    transform: scale(1.03);
}

.char:focus {
    transform: scale(2.5);
}

#Char1 {
    background-image: url(/src/pictures/LvlChar/Char1.png);
}

#Char2 {
    background-image: url(/src/pictures/LvlChar/Char2.png);
}

#Char3 {
    background-image: url(/src/pictures/LvlChar/Char3.png);
}

#Char4 {
    background-image: url(/src/pictures/LvlChar/Char4.png);
}

#Char5 {
    background-image: url(/src/pictures/LvlChar/Char5.png);
}

#Char6 {
    background-image: url(/src/pictures/LvlChar/Char6.png);
}

#Char7 {
    background-image: url(/src/pictures/LvlChar/Char7.png);
}

#Char8 {
    background-image: url(/src/pictures/LvlChar/Char8.png);
}

/* --------- ENCOUNTERS CARDS --------- */

/* MAIN  */

.encounters {
    position: relative;
    width: 80vw;
    margin-top: 4.7vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.outerPopup {
    position: fixed;
    display: flex;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* BUTTONS  */

.encounterCloseButton {
    width: 1.5vw;
    height: 1.5vw;
    font-family: 'Birmingham'; 
    font-size: 1vw;
    text-align: center;
    background-color: rgb(213, 213, 160);
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-top: 0.2vw;
    margin-left: 14vw;
    cursor: pointer;
}

.encounterCardStamp {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.4vw;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-duration: 0.3s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.encounterCard {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.4vw;
    transition: all .3s ease;
    cursor: pointer;
}

.encounterCard:hover {
    transform: scale(1.1);
}

.encounterCardFront {
    display: flex;
    height: 25vw;
    width: 15.9vw;
    justify-content: center;
    background-size: cover;
    border-radius: 0.9vw;
}

#America {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas.png);
    animation-delay:4.1s;
}

#AmericaFront1 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_1.png);
}

#AmericaFront2 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_2.png);
}

#AmericaFront3 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_3.png);
}

#AmericaFront4 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_4.png);
}

#AmericaFront5 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_5.png);
}

#AmericaFront6 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_6.png);
}

#AmericaFront7 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_7.png);
}

#AmericaFront8 {
    background-image: url(/src/pictures/EncounterCards/America/Encounter_Americas_Front_8.png);
}

#Europe {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe.png);
    animation-delay:4.2s;
}

#EuropeFront1 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_1.png);
}

#EuropeFront2 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_2.png);
}

#EuropeFront3 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_3.png);
}

#EuropeFront4 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_4.png);
}

#EuropeFront5 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_5.png);
}

#EuropeFront6 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_6.png);
}

#EuropeFront7 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_7.png);
}

#EuropeFront8 {
    background-image: url(/src/pictures/EncounterCards/Europe/Encounter_Europe_Front_8.png);
}

#AsiaAustralia {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia.png);
    animation-delay:4.3s
}

#AsiaAustraliaFront1 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_1.png);
}

#AsiaAustraliaFront2 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_2.png);
}

#AsiaAustraliaFront3 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_3.png);
}

#AsiaAustraliaFront4 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_4.png);
}

#AsiaAustraliaFront5 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_5.png);
}

#AsiaAustraliaFront6 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_6.png);
}

#AsiaAustraliaFront7 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_7.png);
}

#AsiaAustraliaFront8 {
    background-image: url(/src/pictures/EncounterCards/AsiaAustralia/Encounter_AsiaAustralia_Front_8.png);
}

#General {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General.png);
    animation-delay:4.4s
}

#GeneralFront1 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_1.png);
}

#GeneralFront2 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_2.png);
}

#GeneralFront3 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_3.png);
}

#GeneralFront4 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_4.png);
}

#GeneralFront5 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_5.png);
}

#GeneralFront6 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_6.png);
}

#GeneralFront7 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_7.png);
}

#GeneralFront8 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_8.png);
}

#GeneralFront9 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_9.png);
}

#GeneralFront10 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_10.png);
}

#GeneralFront11 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_11.png);
}

#GeneralFront12 {
    background-image: url(/src/pictures/EncounterCards/General/Encounter_General_Front_12.png);
}

#OtherWorld {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld.png);
    animation-delay:4.5s
}

#OtherWorldFront1 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_1.png);
}

#OtherWorldFront2 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_2.png);
}

#OtherWorldFront3 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_3.png);
}

#OtherWorldFront4 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_4.png);
}

#OtherWorldFront5 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_5.png);
}

#OtherWorldFront6 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_6.png);
}

#OtherWorldFront7 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_7.png);
}

#OtherWorldFront8 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_8.png);
}

#OtherWorldFront9 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_9.png);
}

#OtherWorldFront10 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_10.png);
}

#OtherWorldFront11 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_11.png);
}

#OtherWorldFront12 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_12.png);
}

#OtherWorldFront13 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_13.png);
}

#OtherWorldFront14 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_14.png);
}

#OtherWorldFront15 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_15.png);
}

#OtherWorldFront16 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_16.png);
}

#OtherWorldFront17 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_17.png);
}

#OtherWorldFront18 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_18.png);
}

#OtherWorldFront19 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_19.png);
}

#OtherWorldFront20 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_20.png);
}

#OtherWorldFront21 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_21.png);
}

#OtherWorldFront22 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_22.png);
}

#OtherWorldFront23 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_23.png);
}

#OtherWorldFront24 {
    background-image: url(/src/pictures/EncounterCards/OtherWorld/Encounter_OtherWorld_Front_24.png);
}

#ExpeditionAntarctica {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionAntarctica.png);
    animation-delay:4.6s
}

#ExpeditionAntarcticaFront1 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionAntarctica_Front_1.png);
}

#ExpeditionAntarcticaFront2 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionAntarctica_Front_2.png);
}

#ExpeditionAntarcticaFront3 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionAntarctica_Front_3.png);
}

#ExpeditionTheAmazon {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheAmazon.png);
    animation-delay:4.6s
}

#ExpeditionTheAmazonFront1 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheAmazon_Front_1.png);
}

#ExpeditionTheAmazonFront2 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheAmazon_Front_2.png);
}

#ExpeditionTheAmazonFront3 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheAmazon_Front_3.png);
}

#ExpeditionTheHeartofAfrica {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHeartofAfrica.png);
    animation-delay:4.6s
}

#ExpeditionTheHeartofAfricaFront1 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHeartofAfrica_Front_1.png);
}

#ExpeditionTheHeartofAfricaFront2 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHeartofAfrica_Front_2.png);
}

#ExpeditionTheHeartofAfricaFront3 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHeartofAfrica_Front_3.png);
}

#ExpeditionTheHimalayas {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHimalayas.png);
    animation-delay:4.6s
}

#ExpeditionTheHimalayasFront1 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHimalayas_Front_1.png);
}

#ExpeditionTheHimalayasFront2 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHimalayas_Front_2.png);
}

#ExpeditionTheHimalayasFront3 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTheHimalayas_Front_3.png);
}

#ExpeditionThePyramids {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionThePyramids.png);
    animation-delay:4.6s
}

#ExpeditionThePyramidsFront1 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionThePyramids_Front_1.png);
}

#ExpeditionThePyramidsFront2 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionThePyramids_Front_2.png);
}

#ExpeditionThePyramidsFront3 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionThePyramids_Front_3.png);
}

#ExpeditionTunguska {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTunguska.png);
    animation-delay:4.6s
}

#ExpeditionTunguskaFront1 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTunguska_Front_1.png);
}

#ExpeditionTunguskaFront2 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTunguska_Front_2.png);
}

#ExpeditionTunguskaFront3 {
    background-image: url(/src/pictures/EncounterCards/Expedition/Encounter_ExpeditionTunguska_Front_3.png);
}

#CthulhuResearch {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch.png);
    animation-delay:4.7s
}

#CthulhuResearchFront1 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_1.png);
}

#CthulhuResearchFront2 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_2.png);
}

#CthulhuResearchFront3 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_3.png);
}

#CthulhuResearchFront4 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_4.png);
}

#CthulhuResearchFront5 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_5.png);
}

#CthulhuResearchFront6 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_6.png);
}

#CthulhuResearchFront7 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_7.png);
}

#CthulhuResearchFront8 {
    background-image: url(/src/pictures/EncounterCards/CthulhuResearch/Encounter_CthulhuResearch_Front_8.png);
}

#CthulhuSpecial {
    background-image: url(/src/pictures/EncounterCards/CthulhuSpecial/Encounter_CthulhuSpecial.png);
    animation-delay:4.8s
}

#CthulhuSpecialFront1 {
    background-image: url(/src/pictures/EncounterCards/CthulhuSpecial/Encounter_CthulhuSpecial_Front_1.png);
}

#CthulhuSpecialFront2 {
    background-image: url(/src/pictures/EncounterCards/CthulhuSpecial/Encounter_CthulhuSpecial_Front_2.png);
}

#CthulhuSpecialFront3 {
    background-image: url(/src/pictures/EncounterCards/CthulhuSpecial/Encounter_CthulhuSpecial_Front_3.png);
}

#CthulhuSpecialFront4 {
    background-image: url(/src/pictures/EncounterCards/CthulhuSpecial/Encounter_CthulhuSpecial_Front_4.png);
}

#CthulhuSpecialFront5 {
    background-image: url(/src/pictures/EncounterCards/CthulhuSpecial/Encounter_CthulhuSpecial_Front_5.png);
}

#CthulhuSpecialFront6 {
    background-image: url(/src/pictures/EncounterCards/CthulhuSpecial/Encounter_CthulhuSpecial_Front_6.png);
}
