/* --------- MAIN BOARD --------- */

.eldritchBoard {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.eldritch_board {
    width: 99vw;
    overflow: hidden;
    align-self: center;
}

/* --------- ANCCIENT BOARDS --------- */

/* MAIN  */

.ancientBoard {
    display: flex;
    flex-direction: row;
}

.ancientMysteryMythos {
    display: flex;
    flex-direction: column;
}

.ancientMystery {
    display: flex;
    flex-direction: row;
}

.ancientMythos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* BUTTONS  */
.cthulhuSheetCard {
    display: flex;
    flex-direction: column;
}

.cthulhuSheet {
    justify-content: flex-start;
    background-size: cover;
    height: 21.5vw;
    width: 17.2vw;
    margin-top: 1.2vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    transition: all .3s ease;
}

.cthulhuSheet:hover {
    transform: scale(1.03);
}

.cthulhuSheet:focus {
    transform: scale(1.4);
}

#CthulhuSheetFront {
    background-image: url(/src/pictures/Ancient_Cthulhu_sheet_front.png);
}

#CthulhuSheetBack {
    background-image: url(/src/pictures/Ancient_Cthulhu_sheet_back.png);
}

.flipButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.3vw;
}

#FlipButton {
    font-family: 'Birmingham_Titling_Bold'; 
    font-size: 0.8vw;
    width: 5vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: black;
}

.cthulhuMystery {
    background-image: url(/src/pictures/Ancient_Cthulhu_mystery.png);
    height: 7.4vw;
    width: 11.5vw;
    margin: 1.2vw;
    background-size: cover;
    transition: all .3s ease;
}

.cthulhuMystery:hover {
    transform: scale(1.1);
}

#CthulhuMysteryFront {
    background-image: url(/src/pictures/Ancient_Cthulhu_mystery_front.png);
}

#CthulhuMysteryFront:focus {
    transform: scale(2.5);
}

.mythos {
    background-image: url(/src/pictures/Mythos_Card.png);
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythos:hover {
    transform: scale(1.1);
}

.mythosFront {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythosFront:hover {
    transform: scale(1.1);
}

.mythosFront:focus {
    transform: scale(2.5);
    z-index: 1;
}

.mythosFrontBig {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythosFrontBig:hover {
    transform: scale(2);
}

#Mythos1 {
    background-image: url(/src/pictures/Mythos_Card_1.png);
}

#Mythos2 {
    background-image: url(/src/pictures/Mythos_Card_2.png);
}

#Mythos3 {
    background-image: url(/src/pictures/Mythos_Card_3.png);
}

#Mythos4 {
    background-image: url(/src/pictures/Mythos_Card_4.png);
}

#Mythos5 {
    background-image: url(/src/pictures/Mythos_Card_5.png);
}

/* --------- ENCOUNTERS CARDS --------- */

/* MAIN  */

.encounters {
    position: relative;
    width: 80vw;
    margin-top: 4.7vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* BUTTONS  */

.encounterCard {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.encounterCard:hover {
    transform: scale(1.1);
}

#America {
    background-image: url(/src/pictures/Encounter_Americas.png);
}

#Europe {
    background-image: url(/src/pictures/Encounter_Europe.png);
}

#AsiaAustralia {
    background-image: url(/src/pictures/Encounter_Asia-Australia.png);
}

#General {
    background-image: url(/src/pictures/Encounter_General.png);
}

#OtherWorld {
    background-image: url(/src/pictures/Encounter_Other_World.png);
}

#Expedition {
    background-image: url(/src/pictures/Encounter_Expedition.png);
}

#Ancient_research {
    background-image: url(/src/pictures/Encounter_Cthulhu_research.png);
}

#Ancient_special {
    background-image: url(/src/pictures/Encounter_Cthulhu_special.png);
}