/* --------- MAIN BOARD --------- */

.eldritchBoard {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.eldritch_board {
    width: 99vw;
    overflow: hidden;
    align-self: center;
    opacity: 0;
    /* FRONT TURN TABLE ANIMATION */
    animation: frontTurnTable ease 1.2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* --------- ANCCIENT BOARDS --------- */

/* MAIN  */

.ancientBoard {
    display: flex;
    flex-direction: row;
}

.ancientMysteryMythosLvlChar {
    display: flex;
    flex-direction: column;
}

.ancientMysteryLvlChar {
    display: flex;
    flex-direction: row;
}

.ancientMystery {
    display: flex;
    flex-direction: row;
    width: 49.3vw
}

.ancientMythos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* BUTTONS  */

.cthulhuSheetCard {
    display: flex;
    flex-direction: column;
}

.cthulhuSheetStamp {
    justify-content: flex-start;
    background-size: cover;
    height: 21.5vw;
    width: 17.2vw;
    margin-top: 1.2vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-delay:4s;
    animation-duration: 0.7s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.cthulhuSheet {
    justify-content: flex-start;
    background-size: cover;
    height: 21.5vw;
    width: 17.2vw;
    margin-top: 1.2vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    transition: all .3s ease;
    z-index: 2;
}

.cthulhuSheet:hover {
    transform: scale(1.03);
}

.cthulhuSheet:focus {
    transform: scale(1.4);
}

#CthulhuSheetFront {
    background-image: url(/src/pictures/Ancient_Cthulhu_sheet_front.png);
}

#CthulhuSheetBack {
    background-image: url(/src/pictures/Ancient_Cthulhu_sheet_back.png);
}

.flipButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.3vw;
    z-index: 1;
    /* FADE IN ANIMATION */
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-delay: 4.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#FlipButton {
    font-family: 'Birmingham_Titling_Bold'; 
    font-size: 0.8vw;
    width: 5vw;
    background-color: transparent;
    border-radius: 1vw;
    border-color: black;
}

.cthulhuMysteryStamp {
    background-image: url(/src/pictures/Ancient_Cthulhu_mystery.png);
    height: 7.4vw;
    width: 11.5vw;
    margin: 1.2vw;
    background-size: cover;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-delay:4.5s;
    animation-duration: 0.7s;
    opacity: 0;
    animation-fill-mode:forwards;   
}

.cthulhuMystery {
    background-image: url(/src/pictures/Ancient_Cthulhu_mystery.png);
    height: 7.4vw;
    width: 11.5vw;
    margin: 1.2vw;
    background-size: cover;
    transition: all .3s ease;    
}

.cthulhuMystery:hover {
    transform: scale(1.1);
}

#CthulhuMysteryFront {
    background-image: url(/src/pictures/Ancient_Cthulhu_mystery_front.png);
}

#CthulhuMysteryFront:focus {
    transform: scale(2.5);
}

.mythosStamp {
    background-image: url(/src/pictures/Mythos_Card.png);
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-delay:5s;
    animation-duration: 0.7s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.mythos {
    background-image: url(/src/pictures/Mythos_Card.png);
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythos:hover {
    transform: scale(1.1);
}

.mythosFront {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythosFront:hover {
    transform: scale(1.1);
}

.mythosFront:focus {
    transform: scale(2.5);
    z-index: 1;
}

.mythosFrontBig {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythosFrontBig:hover {
    transform: scale(2);
}

#Mythos1 {
    background-image: url(/src/pictures/Mythos_Card_1.png);
}

#Mythos2 {
    background-image: url(/src/pictures/Mythos_Card_2.png);
}

#Mythos3 {
    background-image: url(/src/pictures/Mythos_Card_3.png);
}

#Mythos4 {
    background-image: url(/src/pictures/Mythos_Card_4.png);
}

#Mythos5 {
    background-image: url(/src/pictures/Mythos_Card_5.png);
}

/* --------- LEVEL AND CHARACTERS --------- */

.lvlChar {
    display: flex;
    flex-direction: column;
}

.lvl {
    height: 2vw;
    width: 8.25vw;
    margin-top: 1.2vw;
    justify-content: center;
    background-size: cover;
}

#LvlEasy {
    background-image: url(/src/pictures/LvlChar/LvlEasy.png);
}

#LvlNormal {
    background-image: url(/src/pictures/LvlChar/LvlNormal.png);
}

#LvlHard {
    background-image: url(/src/pictures/LvlChar/LvlHard.png);
}

.char {
    height: 5.4vw;
    width: 8.25vw;
    background-size: cover;
    align-items: flex-start;
    justify-content: flex-end;
}

/* #Char1 {
    background-image: url(/src/pictures/LvlChar/Char1.png);
}

#Char2 {
    background-image: url(/src/pictures/LvlChar/Char2.png);
}

#Char3 {
    background-image: url(/src/pictures/LvlChar/Char3.png);
} */

#Char4 {
    background-image: url(/src/pictures/LvlChar/Char4.png);
}

/* #Char5 {
    background-image: url(/src/pictures/LvlChar/Char5.png);
}

#Char6 {
    background-image: url(/src/pictures/LvlChar/Char6.png);
}

#Char7 {
    background-image: url(/src/pictures/LvlChar/Char7.png);
}

#Char8 {
    background-image: url(/src/pictures/LvlChar/Char8.png);
} */

/* --------- ENCOUNTERS CARDS --------- */

/* MAIN  */

.encounters {
    position: relative;
    width: 80vw;
    margin-top: 4.7vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* BUTTONS  */

.encounterCardStamp {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    /* STAMP ANIMATION */
    position:relative;
    animation-name: pulse;
    animation-duration: 0.3s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.encounterCard {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.encounterCard:hover {
    transform: scale(1.1);
}

#America {
    background-image: url(/src/pictures/Encounter_Americas.png);
    animation-delay:6.1s;
}

#Europe {
    background-image: url(/src/pictures/Encounter_Europe.png);
    animation-delay:6.2s;
}

#AsiaAustralia {
    background-image: url(/src/pictures/Encounter_Asia-Australia.png);
    animation-delay:6.3s
}

#General {
    background-image: url(/src/pictures/Encounter_General.png);
    animation-delay:6.4s
}

#OtherWorld {
    background-image: url(/src/pictures/Encounter_Other_World.png);
    animation-delay:6.5s
}

#Expedition {
    background-image: url(/src/pictures/Encounter_Expedition.png);
    animation-delay:6.6s
}

#Ancient_research {
    background-image: url(/src/pictures/Encounter_Cthulhu_research.png);
    animation-delay:6.7s
}

#Ancient_special {
    background-image: url(/src/pictures/Encounter_Cthulhu_special.png);
    animation-delay:6.8s
}
