/* MAIN  */

.encounters {
    position: relative;
    width: 80vw;
    margin-top: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    /* width: 100vw;
    height: 40vh;
    left: 0;
    bottom: 0; */
    /* grid-row: 2/3;
    justify-self: center;  */
}

/* BUTTONS  */

.encounterCard {
    height: 12vw;
    width: 7.8vw;
    margin: 0.8vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.encounterCard:hover {
    transform: scale(1.1);
}

#America {
    background-image: url(/src/pictures/Encounter_Americas.png);
}

#Europe {
    background-image: url(/src/pictures/Encounter_Europe.png);
}

#AsiaAustralia {
    background-image: url(/src/pictures/Encounter_Asia-Australia.png);
}

#General {
    background-image: url(/src/pictures/Encounter_General.png);
}

#OtherWorld {
    background-image: url(/src/pictures/Encounter_Other_World.png);
}

#Expedition {
    background-image: url(/src/pictures/Encounter_Expedition.png);
}

#Ancient_research {
    background-image: url(/src/pictures/Encounter_Cthulhu_research.png);
}

#Ancient_special {
    background-image: url(/src/pictures/Encounter_Cthulhu_special.png);
}